body {
    padding: 10px;
}

#scroll-bg {
    background : rgb(255, 255, 255);
    margin : 2% auto;
}

#scroll-div{
    background : rgb(255, 255, 255);
    height : 300px;
    overflow : hidden;
    overflow-y : scroll;
}

#scroll-obj{
    color : black;
}
