{% extends 'auctions/layout.html' %} {% block body %} {% if message %}
<p class="f2 alert alert-danger center">{{message}}</p>
{% endif %}

<div class="container-box">
  <form
    action="{% url 'edit' id %}"
    method="post"
    enctype="multipart/form-data"
  >
    {% csrf_token %}
    <div class="f2 flex-container create">
      <label>Title</label>
      <div class="form-group">
        <input
          type="text"
          name="title"
          value="{{title}}"
          required
          class="form-select"
        />
      </div>
      <label>Description</label>
      <div class="form-group">
        <input
          type="text"
          name="description"
          value="{{description}}"
          required
          class="form-select"
        />
      </div>
      <label>Price</label>
      <div class="form-group">
        <input
          type="number"
          name="price"
          value="{{price}}"
          required
          class="form-select"
        />
      </div>
      <label>Category</label>
      <div class="form-group">
        <select class="form-select" name="category" required>
          <option selected>{{oc}}</option>
          {% for i in categories %}
          <option value="{{i}}">{{i}}</option>
          {% endfor %}
        </select>
      </div>
      <label>image</label>
      <div class="form-group">
        <input
          type="file"
          name="image"
          value="{{image}}"
          class="form-select-file"
        />
      </div>

      <div class="form-group">
        <button class="btn">Submit</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
