{% extends 'auctions/layout.html' %}

{% block body %}

{% if message %}
<p class="p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3">{{message}}</p>
{% endif %}

<form action="{% url 'edit' id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <label>Title</label><input type="text" name="title" value="{{title}}" required />
    <label>Description</label><input type="text" name="description" value="{{description}}" required />
    <label>Price</label><input type="number" name="price" value="{{price}}" required />
    <label>Category</label><select name="category">{% for i in categories %} <option value="{{i}}">{{i}}</option>{% endfor %}</select>
    <label>image</label><input type="file" name="image" value="{{image}}" />

    <button type="submit">Submit</button>
</form>
{% endblock %}