{% extends 'auctions/layout.html' %}

{% block body %}
<div class="f2 flex-container wrap row">
  <div class="flex-container col row-1">
    {% if user.is_authenticated and listings.isActive %}
    <div class="flex-container row col-1">
      <div class="flex-container col col-1">
        {% if watching %}
        <form action="{% url 'remove' listings.id %}" method="post">
          {% csrf_token %}
          <div class="flex-container col btns"><button class="btn-danger">Remove from Watchlist</button></div>
        </form>
        {% else %}
        <form action="{% url 'add' listings.id %}" method="post">
          {% csrf_token %}
          <div class="flex-container col btns"><button class="btn-success">Add to Watchlist</buton></div>
        </form>
        {% endif %}
      </div>
      {% if owner == u %}
    <div class="flex-container col col-1">
      <form action="{% url 'sell' listings.id %}" method="post">
        {% csrf_token %}
        <div class="flex-container col btns"><button class="btn-warning">End Auction</button></div>
      </form>
    </div>
    {% endif %}
    </div>
    {% endif %}
    

    {% if listings.image %}
      <div class="flex-container col col-2 i">
        <img src="{{listings.image.url}}" class="img" />
      </div>
    {% endif %}
    <div class="flex-container col desc">
      <h5 class="f1 card-title">{{listings.title}}</h5>
      <p class="f2 card-text description">{{listings.description}}</p>
      <p class="f2 card-text">
        Original Price: <strong class="f1 price">Rs.{{listings.price}}</strong>
      </p>
      <p class="f2 card-text description">Posted by: {{listings.posted_user}}</p>
    </div>

    {% if listings.isActive == False and u == by %}
      <p class="f2 flex-container col winning-alert">
        <strong>Congratulations!! You won the auction for Rs.{{cur}}</strong>
      </p>
    {% else %}
      {% if listings.isActive %}
        <div class="flex-container col col-4">
          <p class="f2 card-text">
            Current Bid is <strong class="f1 price">Rs.{{cur}}</strong> by 
            {% if u == by %}<strong class="f1">you</strong>{% else %}<strong class='f1'>{{by}}</strong>{% endif %}
          </p>
          <div class="m-auto form-group">
            {% if pass %}
              {% if message %}
                <div class="f2 flex-container col">
                  <div class="alert alert-success center" role="alert">{{message}}</div>
                </div>
              {% endif %}
            {% else %}
              {% if message %}
                <div class="f2 flex-container col">
                  <div class="alert alert-danger center" role="alert">{{message}}</div>
                </div>
              {% endif %}
            {% endif %}
          </div>
          {% if user.is_authenticated %}
            {% if u != owner and listings.isActive and u != by %}
              <form action="{% url 'bid' listings.id %}" method="post">
                {% csrf_token %} <div class="f2 flex-container row col-1 cen">
                  <div class="form-group">{{ form }}
                  <button class="btn-success bid-button" >Bid</button></div>
                </div>
              </form>
            {% endif %}
            {% if u != owner and listings.isActive and u == by %}
              <form method="post" action="{% url 'removebid' listings.id %}">
                {% csrf_token %}
                <div class="f2 flex-container row col-1"><button class="btn-danger" >Remove Bid</button></div>
              </form>
            {% endif %}
          {% endif %}
        </div>
      {% else %}
          <p class="f2 alert alert-warning center">Sold to <strong class="f1">{{by}}</strong> for <strong class="f1">Rs.{{cur}}</strong></p>
      {% endif %}
    {% endif %}
  </div>

  <div class="flex-container col row-2">
    {% if user.is_authenticated %}
      <div class="flex-container col col-1">
        <form class="center p-top input-group" action="{% url 'com' listings.id %}" method="post">
          {% csrf_token %}
          <textarea class="form-group text-box" aria-label="Comment:" name="comment" placeholder="leave a comment here"></textarea>
          <div class="m-auto form-group">
            <button class='f2 btn'>Submit</button>
          </div>
        </form>
      </div>
    {% endif %}
    <div class="flex-container col col-2 comm">
      <div id="scroll-bg">
        <div id="scroll-div">
          <div id="scroll-obj">
            <h4 class="f1 border-bottom p-bottom heading center">Comments</h4>
            <ul class="comments">
              {% for comm in comms %}
                <li class="f2 comment">
                  {{comm}}
                </li>
              {% empty %}
                <div class="flex-container heading no-items">
                  <h4 class="f2 no-item">No comments</h4>
                </div>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
