{% extends "auctions/layout.html" %}

{% block body %}
<div class="container-box">
    <h2 class="f1 flex-container heading">Login</h2>

    {% if message %}
        <div class="f2 alert alert-danger center">{{ message }}</div>
    {% endif %}

    <form action="{% url 'login' %}" method="post">
        {% csrf_token %}
        <div class="f2 flex-container create">
        <div class="form-group">
            <input autofocus class="form-select" type="text" name="username" placeholder="Username">
        </div>
        <div class="form-group">
            <input class="form-select" type="password" name="password" placeholder="Password">
        </div>
        <button class="form-group btn">Login</button>
        </div>
    </form>

    Don't have an account? <a class="f2 link" href="{% url 'register' %}">Register here.</a>
</div>

{% endblock %}