{% extends 'auctions/layout.html' %} {% block body %}
<h2 class="flex-container heading">My Items</h2>

<div class="flex-container listing">
  {% for item in items %}

  <div class="content">
    <a class="listing-link" href="{% url 'list' item.id %}" method="post">
      <div class="flex-container contents">
        {% if item.image %}
        <div class="flex-item image">
          <img src="{{item.image.url}}" class="img" />
        </div>
        {% else %}
        <div class="flex-item image">
          <img
            src="https://static.vecteezy.com/system/resources/previews/005/337/799/original/icon-image-not-found-free-vector.jpg"
            class="img"
          />
        </div>
        {% endif %}

        <div class="flex-item desc">
          <h5 class="card-title">{{item.title}}</h5>
          <p class="card-text description">{{item.description}}</p>
          <p class="card-text price">
            <strong>Price: </strong>Rs.{{item.price}}
          </p>

          <div class="flex-container">
            <form action="{% url 'mypage' %}" method="post">
              {% csrf_token %}
              <input type="hidden" value="{{item.id}}" name="obj_id" />
              <button class="btns btn-warning">Edit</button>
            </form>
            <form action="{% url 'del' item.id %}" method="post">
              {% csrf_token %}
              <input type="hidden" value="{{item.id}}" name="obj_id" />
              <button class="btns btn-danger">Remove</button>
            </form>
          </div>
        </div>
      </div>
    </a>
  </div>
  {% empty %}
  <div class="flex-container heading no-items">
    <h4 class="no-item">No items</h4>
  </div>
  {% endfor %}
</div>
{% endblock %}
