{% extends 'auctions/layout.html' %}

{% block body %}
<h2>My Watchlist Items</h2>

    {% for item in items %}
<ul class="list-unstyled">
    <li class="container">
        <a href="{% url 'list' item.title %}" method="post">
            <div class="row">
                {% if item.image %}
                <div class="col-md-2">
                    <img src="{{item.image.url}}" class="img-fluid" alt="Product Image" width="200">
                    {% endif %}
                </div>
                <div class="col-md-8">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{item.title}}</h5>
                            <p class="card-text">{{item.description}}</p>
                            <p class="card-text"><strong>Org. Price: </strong>Rs.{{item.price}}</p>
                            <p class="card-text"><strong>Cur. Bid: </strong>Rs.To be added</p>
                            <p class="card-text">
                                {% if item.isActive == True %}
                                <strong>Active</strong>
                                {%else%}
                                <strong>Sold</strong>
                                {%endif%}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </a>
    </li>
</ul>
    {% empty %}
<h4> No items </h4>
    {% endfor %}
{% endblock %}