{% extends 'auctions/layout.html' %}

{% block body %}
<h2>SOLD ITEMS</h2>

<form return="{% url 'index_cat' %}" method="post">
    {% csrf_token %}
    <select name="category" class="form-select form-select-lg mb-4" aria-label=".form-select-lg example">
        <option selected>Select Category</option>
        {% for c in cat %}
        <option value="{{c}}">{{c}}</option>
        {% endfor %}
    </select>
    <button type="submit" class="btn btn-primary">search</button>
</form>

  {% for item in items %}
    <div class="card mb-3" style="max-width: 540px;">
        <div class="row g-0">
            {% if item.image %}
            <div class="col-md-4">
                <img src="{{item.image.url}}" class="img-fluid rounded-start">
            </div>
            {% endif %}
            <div class="col-md-8">
                <div class="card-body">
                    <h5 class="card-title">{{item.title}}</h5>
                    <p class="card-text">{{item.description}}</p>
                    <p class="card-text"><strong>Price: </strong>Rs.{{item.price}}</p>
                    <a href="{% url 'list' item.id %}" method="post" class="btn btn-primary">Go to Item</a>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
<hr />
    <h4> No items </h4>
<hr />
    {% endfor %}
{% endblock %}